<addapptable-card>
  <addapptable-card-body>
    <div class="invoice-header">
      <div class="row">
        <div class="col-lg-7 col-12">
          <div class="invoice-header-title">
            <div class="invoice-header-title-content-img">
              <img class="invoice-header-title-img" src="assets/images/logo/addaptables.svg">
            </div>
            <h2 class="text-primary">
              {{'invoice.header' | translate}}
            </h2>
          </div>
        </div>
        <div class="col-12 col-lg-5 invoice-header-info-column">
          <div class="invoice-header-info">
            <span class="text-primary">
              {{'invoice.company' | translate}}:
            </span>
            <span> ADDAPPTABLES </span>
            <span class="text-primary">
              {{'invoice.nit' | translate}}:
            </span>
            <span> 123456789 </span>
            <span class="text-primary">
              {{'invoice.branchoffice' | translate}}:
            </span>
            <span> Nort </span>
            <span class="text-primary">
              {{'invoice.seller' | translate}}:
            </span>
            <span> Mateo GL </span>
            <span class="text-primary">
              {{'invoice.consecutive' | translate}}:
            </span>
            <span> 1 </span>
          </div>
        </div>
      </div>
    </div>
  </addapptable-card-body>
</addapptable-card>