<addapptable-card>
  <addapptable-card-header>
    <addapptable-card-header-linear>
      <addapptable-card-title>
        <mat-icon matSuffix>horizontal_split</mat-icon>
        <span>{{'table.simple.accent' | translate}}</span>
      </addapptable-card-title>
    </addapptable-card-header-linear>
  </addapptable-card-header>
  <mat-divider>
  </mat-divider>
  <addapptable-card-body>
    <app-simple-table-content classTable="table-accent"></app-simple-table-content>
  </addapptable-card-body>
</addapptable-card>