<!-- PROGRESS BAR -->
<app-progress-bar class="auth-progrees-bar"></app-progress-bar>
<!--/ PROGRESS BAR -->

<!-- AUTH -->
<div class="auth" addapptablesPerfectScrollbar>
    <div class="auth-content">
        <addapptable-card>
            <!-- HEADER -->
            <addapptable-card-header>
                <addapptable-card-header-oval>
                    <addapptable-card-title>
                        <mat-icon matSuffix>email</mat-icon>
                        <span>Addapptables</span>
                        <app-translate></app-translate>
                    </addapptable-card-title>
                </addapptable-card-header-oval>
            </addapptable-card-header>
            <!-- / HEADER -->

            <!-- BODY -->
            <addapptable-card-body>
                <app-login-form></app-login-form>
            </addapptable-card-body>
            <!-- BODY -->
        </addapptable-card>
    </div>
</div>
<!--/ AUTH -->