<div class="invoice">
    <div class="row">
        <div class="col-12">
            <app-invoice-header></app-invoice-header>
        </div>
        <div class="col-12">
            <app-invoice-client></app-invoice-client>
        </div>
        <div class="col-12">
            <app-invoice-products></app-invoice-products>
        </div>
        <div class="col-12 col-md-6">
            <app-invoice-iva></app-invoice-iva>
        </div>
        <div class="col-12 col-md-6">
            <app-invoice-total></app-invoice-total>
        </div>
    </div>
</div>