<addapptable-card>
  <addapptable-card-body>
    <div class="invoice-total">
      <span class="text-primary">
        {{ 'invoice.totalIva' | translate}}
      </span>
      <span class="text-primary">
        224
      </span>
      <span class="text-primary">
        {{ 'invoice.subTotal' | translate}}
      </span>
      <span class="text-primary">
        1450
      </span>
      <span class="text-primary">
        {{ 'invoice.total' | translate}}
      </span>
      <span class="text-primary">
        1674
      </span>
    </div>
  </addapptable-card-body>
</addapptable-card>