<!-- REGISTER -->
<div class="register" addapptablesPerfectScrollbar>
  <div class="register-content">
    <addapptable-card>
      <!-- HEADER -->
      <addapptable-card-header>
        <addapptable-card-header-oval>
          <addapptable-card-title>
            <mat-icon matSuffix>email</mat-icon>
            <span>Addapptables</span>
            <app-translate></app-translate>
          </addapptable-card-title>
        </addapptable-card-header-oval>
      </addapptable-card-header>
      <!-- / HEADER -->
      <!-- BODY -->
      <addapptable-card-body>
        <app-register-form></app-register-form>
      </addapptable-card-body>
      <!-- / BODY -->
    </addapptable-card>
  </div>
</div>
<!-- / REGISTER -->