<addapptable-card>
  <addapptable-card-header>
    <addapptable-card-header-oval [color]="'card-header-danger'">
      <addapptable-card-title>
        <mat-icon matSuffix>trending_flat</mat-icon>
        <span>{{'report.subtotal' | translate}}</span>
      </addapptable-card-title>
    </addapptable-card-header-oval>
    <addapptable-card-header-mark>
      <span>{{'report.information' | translate}}</span>
    </addapptable-card-header-mark>
    <addapptable-card-header-subtitle>
      <h4>
        1.000.000
      </h4>
    </addapptable-card-header-subtitle>
  </addapptable-card-header>
  <addapptable-card-divider></addapptable-card-divider>
  <addapptable-card-body>
    <p>{{'report.result.subtotal' | translate}}</p>
  </addapptable-card-body>
</addapptable-card>