<addapptable-card>
  <!-- HEADER -->
  <addapptable-card-header>
    <addapptable-card-header-linear>
      <addapptable-card-title>
        <mat-icon matSuffix>horizontal_split</mat-icon>
        <span>{{'card.simple' | translate}}</span>
      </addapptable-card-title>
    </addapptable-card-header-linear>
  </addapptable-card-header>
  <!-- HEADER -->
  <mat-divider></mat-divider>

  <!-- BODY -->
  <addapptable-card-body>
    <app-card-form></app-card-form>
  </addapptable-card-body>
  <!-- / BODY -->
</addapptable-card>