<div class="row">
  <div class="col-12 col-sm-6 col-md-6">
    <!-- NOTIFIER SUCCESS -->
    <app-notifier-success></app-notifier-success>
    <!-- / NOTIFIER SUCCESS -->
  </div>
  <div class="col-12 col-sm-6 col-md-6">
    <!-- NOTIFIER INFO -->
    <app-notifier-info></app-notifier-info>
    <!-- / NOTIFIER INFO -->
  </div>
  <div class="col-12 col-sm-6 col-md-6">
    <!-- NOTIFIER WARNING -->
    <app-notifier-warning></app-notifier-warning>
    <!-- / NOTIFIER WARNING -->
  </div>
  <div class="col-12 col-sm-6 col-md-6">
    <!-- NOTIFIER ERROR -->
    <app-notifier-error></app-notifier-error>
    <!-- / NOTIFIER ERROR -->
  </div>
  <div class="col-12 col-sm-6 col-md-6">
    <!-- NOTIFIER CUSTOM SUCCESS -->
    <app-notifier-success-custom></app-notifier-success-custom>
    <!-- / NOTIFIER CUSTOM SUCCESS -->
  </div>
  <div class="col-12 col-sm-6 col-md-6">
    <!-- NOTIFIER CUSTOM INFO -->
    <app-notifier-info-custom></app-notifier-info-custom>
    <!-- / NOTIFIER CUSTOM INFO -->
  </div>
</div>