<addapptable-card>
  <!-- HEADER -->
  <addapptable-card-header>
    <addapptable-card-header-linear>
      <addapptable-card-title>
        <span>{{'notifier.warning' | translate}}</span>
      </addapptable-card-title>
    </addapptable-card-header-linear>
  </addapptable-card-header>
  <!-- / HEADER -->

  <!-- BODY -->
  <addapptable-card-body>
    <button type="button" mat-raised-button color="primary" (click)="openNotifier()">Notifier warning</button>
  </addapptable-card-body>
  <!-- / BODY -->
</addapptable-card>