



<div class="row">
      <div class="col-12 col-md-6 col-lg-6 col-xl-3">
        <addapptable-card>
          <addapptable-card-header>
            <addapptable-card-header-oval [color]="'card-header-blue'">
              <addapptable-card-title>
                <mat-icon matSuffix>timeline</mat-icon>
                <span>Total Alam</span>
              </addapptable-card-title>
            </addapptable-card-header-oval>
            <addapptable-card-header-mark>
              <span>Total Alam Count</span>
            </addapptable-card-header-mark>
            <addapptable-card-header-subtitle>
              <h4>
                520
              </h4>
            </addapptable-card-header-subtitle>
          </addapptable-card-header>
          <addapptable-card-divider></addapptable-card-divider>
          <addapptable-card-body>
            <p>Bangalore</p>
          </addapptable-card-body>
        </addapptable-card>

        </div>
  <div class="col-12 col-md-6 col-lg-6 col-xl-3">
    <addapptable-card>
      <addapptable-card-header>
        <addapptable-card-header-oval [color]="'card-header-gray'">
          <addapptable-card-title>
            <mat-icon matSuffix>timeline</mat-icon>
            <span>Resolved</span>
          </addapptable-card-title>
        </addapptable-card-header-oval>
        <addapptable-card-header-mark>
          <span>Total Alam Resolved</span>
        </addapptable-card-header-mark>
        <addapptable-card-header-subtitle>
          <h4>
            500
          </h4>
        </addapptable-card-header-subtitle>
      </addapptable-card-header>
      <addapptable-card-divider></addapptable-card-divider>
      <addapptable-card-body>
        <p>Bangalore</p>
      </addapptable-card-body>
    </addapptable-card>

  </div>
  <div class="col-12 col-md-6 col-lg-6 col-xl-3">
    <addapptable-card>
      <addapptable-card-header>
        <addapptable-card-header-oval [color]="'card-header-warning'">
          <addapptable-card-title>
            <mat-icon matSuffix>show_chart</mat-icon>
            <span>Process</span>
          </addapptable-card-title>
        </addapptable-card-header-oval>
        <addapptable-card-header-mark>
          <span>Total Process Alam</span>
        </addapptable-card-header-mark>
        <addapptable-card-header-subtitle>
          <h4>
            8
          </h4>
        </addapptable-card-header-subtitle>
      </addapptable-card-header>
      <addapptable-card-divider></addapptable-card-divider>
      <addapptable-card-body>
        <p>Bangalore</p>
      </addapptable-card-body>
    </addapptable-card>
  </div>
  <div class="col-12 col-md-6 col-lg-6 col-xl-3">
    <addapptable-card>
      <addapptable-card-header>
        <addapptable-card-header-oval [color]="'card-header-danger'">
          <addapptable-card-title>
            <mat-icon matSuffix>show_chart</mat-icon>
            <span>Thing</span>
          </addapptable-card-title>
        </addapptable-card-header-oval>
        <addapptable-card-header-mark>
          <span>Total Thing Alam</span>
        </addapptable-card-header-mark>
        <addapptable-card-header-subtitle>
          <h4>
            12
          </h4>
        </addapptable-card-header-subtitle>
      </addapptable-card-header>
      <addapptable-card-divider></addapptable-card-divider>
      <addapptable-card-body>
        <p>Bangalore</p>
      </addapptable-card-body>
    </addapptable-card>
  </div>



  <div class="col-12">
    <addapptable-card>
      <addapptable-card-header>
        <addapptable-card-header-oval>
          <addapptable-card-title>
            <mat-icon matSuffix>notification_important</mat-icon>
            <span>Alarms</span>
          </addapptable-card-title>
        </addapptable-card-header-oval>
      </addapptable-card-header>
      <addapptable-card-body>
      <app-alarmlist></app-alarmlist>
      </addapptable-card-body>
    </addapptable-card>
  </div>
</div>
