

<div class="row">


  <div class="col-12 col-md-6 col-lg-6 col-xl-3">

  </div>
  </div>
  <div class="col-12">
    <addapptable-card>
      <addapptable-card-header>
        <addapptable-card-header-oval>
          <addapptable-card-title>
            <mat-icon matSuffix>equalizer</mat-icon>
            <span>Upload Window</span>
          </addapptable-card-title>
        </addapptable-card-header-oval>
      </addapptable-card-header>
      <addapptable-card-body>
        <div>
          <form [formGroup]="StagesForm" class="normal-from" (submit)="onSubmit()">
            <mat-grid-list cols="3" rowHeight="200px">
              <mat-grid-tile>
                <div class="controles-container">
                  <input type="hidden" formControlName="_id">

                  <mat-form-field>
                    <input formControlName="Location" matInput placeholder="Location *">
                    <!-- <mat-error>This Field is mandatory</mat-error> -->
                  </mat-form-field>
                  <mat-form-field>
                    <input formControlName="Plant" matInput placeholder="Plant *">
                    <!-- <mat-error>This Field is mandatory</mat-error> -->
                  </mat-form-field>
                  <mat-form-field>
                    <input formControlName="Meter" matInput placeholder="Meter *">
                    <!-- <mat-error>This Field is mandatory</mat-error> -->

                  </mat-form-field>
                  <mat-form-field>
                    <input formControlName="Process" matInput placeholder="Process *">
                    <!-- <mat-error>This Field is mandatory</mat-error> -->
                  </mat-form-field>

                </div>


                            </mat-grid-tile>
              <mat-grid-tile>
                <div class="controles-container">
                  <input type="hidden" formControlName="_id">

                  <mat-form-field>
                    <input formControlName="videoName" matInput placeholder="videoName *">
                    <!-- <mat-error>This Field is mandatory</mat-error> -->
                  </mat-form-field>
                </div>

                  </mat-grid-tile>
            <mat-grid-tile>
              <div class="controles-container">
                <!-- <input type="hidden" formControlName="_id"> -->



                <div class="button-row">
                  <button mat-raised-button color="primary" type="submit" [disabled] ="StagesForm.invalid">Submit</button>
                  <button mat-raised-button color="warn" (click)="onClear()" >Clear</button>
                </div>
              </div>

            </mat-grid-tile>

            </mat-grid-list>


            </form>


        </div>
      </addapptable-card-body>
    </addapptable-card>
  </div>
  <div class="col-4">
    <addapptable-card>
      <addapptable-card-header>
        <addapptable-card-header-oval>
          <addapptable-card-title>
            <mat-icon matSuffix>equalizer</mat-icon>
            <span>name</span>
          </addapptable-card-title>
        </addapptable-card-header-oval>
      </addapptable-card-header>
      <addapptable-card-body>
        <div>
          <mat-video title="My Tutorial Title" [autoplay]="false"
          style="width:500px;height:auto !important;" [preload]="true"
           [fullscreen]="false" src="./../../../../assets/videos/meter1.mp4"
            [download]="true" color="accent" spinner="spin" poster="image.jpg">
          </mat-video>

        </div>
      </addapptable-card-body>
    </addapptable-card>
  </div>
  <div class="col-4">

  </div>

  <div class="col-4">

  </div>

  <div class="col-8">

  </div>



