<mat-tab-group>
  <mat-tab label="Process Chain">
    <app-processchain></app-processchain>
      </mat-tab>
  <mat-tab label="Service Order">
    <app-serviceorderconfig></app-serviceorderconfig>
      </mat-tab>
  <mat-tab label="Process Tree">
    <app-processtree></app-processtree>
      </mat-tab>

  <mat-tab label="Stages">
<app-stages></app-stages>
  </mat-tab>

  <mat-tab label="Stage Tempate">
<app-stagestemplate></app-stagestemplate>
  </mat-tab>
  <mat-tab label="Stage Parameters">
<app-stageparameters></app-stageparameters>
  </mat-tab>
  <mat-tab label="Main Process">
    <app-mainprocess></app-mainprocess>
      </mat-tab>

</mat-tab-group>
