<form autocomplete="off" id="product-form" [formGroup]="formGroup" class="form-full-width" (submit)="submit()">
  <div class="row">

    <!-- Id Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <input type="number" matInput [placeholder]="'product.id' | translate" formControlName="id" required>
        <mat-error *ngIf="formGroup.controls.id.invalid">
          <span *ngIf="formGroup.controls.id.errors.required">{{'general.required' | translate}}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Name Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <input matInput [placeholder]="'product.name' | translate" formControlName="name" required>
        <mat-error *ngIf="formGroup.controls.name.invalid">
          <span *ngIf="formGroup.controls.name.errors.required">{{'general.required' | translate}}</span>
          <span *ngIf="formGroup.controls.name.errors.maxlength">{{'general.maxLength' | translate: { x:
            maxLengthLargeSize } }}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Category Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <input matInput [placeholder]="'product.category' | translate" formControlName="category" required>
        <mat-error *ngIf="formGroup.controls.category.invalid">
          <span *ngIf="formGroup.controls.category.errors.required">{{'general.required' | translate}}</span>
          <span *ngIf="formGroup.controls.category.errors.maxlength">{{'general.maxLength' | translate: { x:
            maxLengthSmallSize } }}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Price Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <input type="number" matInput [placeholder]="'product.price' | translate" formControlName="price" required>
        <mat-error *ngIf="formGroup.controls.price.invalid">
          <span *ngIf="formGroup.controls.price.errors.required">{{'general.required' | translate}}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Quantity Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <input matInput [placeholder]="'product.quantity' | translate" formControlName="quantity" required>
        <mat-error *ngIf="formGroup.controls.quantity.invalid">
          <span *ngIf="formGroup.controls.quantity.errors.required">{{'general.required' | translate}}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Active Field -->
    <div class="col-12 col-md-6 checkbox">
      <mat-checkbox formControlName="active">{{'product.active' | translate}}</mat-checkbox>
    </div>
  </div>
</form>