<addapptable-card>
  <addapptable-card-header>
    <addapptable-card-header-oval>
      <addapptable-card-title>
        <mat-icon suffix>shopping_cart</mat-icon>
        <h4>{{'product.title' | translate}}</h4>
      </addapptable-card-title>
    </addapptable-card-header-oval>
    <addapptable-card-header-subtitle>
      <button color="accent" mat-raised-button (click)="createProduct()">
        <mat-icon suffix>add</mat-icon>
        {{'product.create' | translate}}
      </button>
    </addapptable-card-header-subtitle>
  </addapptable-card-header>
  <addapptable-card-body>
    <div class="table-addapptable-container">
      <div class="table-loading" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
      </div>
      <div class="table-responsive-vertical" addapptablesPerfectScrollbar>
        <mat-table [dataSource]="dataSource" class="products-table table">

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              {{'general.actions' | translate}}
            </mat-header-cell>
            <mat-cell class="text-light-gray" *matCellDef="let product" title="{{'general.actions' | translate}}">
              <button mat-icon-button (click)="editProduct(product)">
                <mat-icon suffix>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteProduct(product)">
                <mat-icon suffix>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <!-- id Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> {{'product.id' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let product" title="{{'product.id' | translate}}"> {{product.id}} </mat-cell>
          </ng-container>

          <!-- image Column -->
          <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let product" title="{{'product.image' | translate}}">
              <img class="product-image" [src]="product.image">
            </mat-cell>
          </ng-container>

          <!-- name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> {{'product.name' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let product" title="{{'product.name' | translate}}"> {{product.name}} </mat-cell>
          </ng-container>

          <!-- category Column -->
          <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef> {{'product.category' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let product" title="{{'product.category' | translate}}"> {{product.category}}
            </mat-cell>
          </ng-container>

          <!-- price Column -->
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> {{'product.price' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let product" title="{{'product.price' | translate}}"> {{product.price |
              currency:'USD':'symbol'}} </mat-cell>
          </ng-container>

          <!-- quantity Column -->
          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef> {{'product.quantity' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let product" title="{{'product.quantity' | translate}}">
              <div class="quantity">
                <span class="quantity-indicator" [ngClass]="{'bg-danger':product.quantity <= 7, 'bg-warning':product.quantity > 7 && product.quantity <= 20,'bg-success':product.quantity > 25}">
                </span>
                <span>
                  {{product.quantity}}
                </span>
              </div>
            </mat-cell>
          </ng-container>

          <!-- active Column -->
          <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef> {{'product.active' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let product" title="{{'product.active' | translate}}">
              <mat-icon *ngIf="product.active" class="text-success">check</mat-icon>
              <mat-icon *ngIf="!product.active" class="text-danger">close</mat-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="dataSource.displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: dataSource.displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
      </div>
    </div>
  </addapptable-card-body>
</addapptable-card>