<mat-tab-group>
  <mat-tab label="Thing Type">
<app-thingtype></app-thingtype>

  </mat-tab>
  <mat-tab label="Thing Series">
    <app-thing-series></app-thing-series>
  </mat-tab>
  <mat-tab label="Thing Tempate">
    <app-thing-template></app-thing-template>
  </mat-tab>
  <mat-tab label="Thing Parameters">
    <app-thingparameters></app-thingparameters>
  </mat-tab>
  <mat-tab label="Thing Sensor">
    <app-sensors></app-sensors>
  </mat-tab>

  <mat-tab label="Thing Rules">
    <app-thingrules></app-thingrules>
  </mat-tab>
  <mat-tab label="Create Thing">

    <app-mainthing></app-mainthing>
  </mat-tab>

</mat-tab-group>
