<div class="row">
  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <!-- SIMPLE ALERT -->
    <app-alert-simple></app-alert-simple>
    <!-- / SIMPLE ALERT -->
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <!-- SUCCESS ALERT -->
    <app-alert-success></app-alert-success>
    <!-- / SUCCESS ALERT -->
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <!-- INFO ALERT -->
    <app-alert-info></app-alert-info>
    <!-- / INFO ALERT -->
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <!-- WARNING ALERT -->
    <app-alert-warning></app-alert-warning>
    <!-- / WARNING ALERT -->
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <!-- ERROR ALERT -->
    <app-alert-error></app-alert-error>
    <!-- / ERROR ALERT -->
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <!-- CONFIRMATION ALERT -->
    <app-alert-confirmation></app-alert-confirmation>
    <!-- / CONFIRMATION ALERT -->
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <!-- CUSTOM BUTTONS ALERT -->
    <app-alert-custom-buttons></app-alert-custom-buttons>
    <!-- / CUSTOM BUTTONS ALERT -->
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <!-- CUSTOM BODY ALERT -->
    <app-alert-custom-body></app-alert-custom-body>
    <!-- / CUSTOM BODY ALERT -->
  </div>
</div>