<addapptable-modal>
  <addapptable-modal-header>
    <h3 class="text-accent">{{'product.create' | translate}}</h3>
    <button mat-icon-button (click)="close()">
      <mat-icon suffix>close</mat-icon>
    </button>
  </addapptable-modal-header>
  <addapptable-modal-body>
    <app-product-form #productForm (save)="close()" [productDto]="productDto"></app-product-form>
  </addapptable-modal-body>
  <addapptable-modal-footer>
    <button type="submit" form="product-form" mat-raised-button color="accent" [disabled]="productForm.saving$ | async">
      {{'general.save' | translate}}
    </button>
    <button type="button" mat-raised-button (click)="close()">{{'general.close' | translate}}</button>
  </addapptable-modal-footer>
</addapptable-modal>