<mat-tab-group>

   <mat-tab label="Company">
    <app-company></app-company>
      </mat-tab>

  <mat-tab label="Plant">
    <app-plant></app-plant>
      </mat-tab>
      <mat-tab label="Block">
        <app-block></app-block>
          </mat-tab>
          <mat-tab label="Department">
            <app-dept></app-dept>
              </mat-tab>
              <mat-tab label="Roles">
                <app-role></app-role>
                  </mat-tab>
  <mat-tab label="End User">
<app-enduser></app-enduser>>
  </mat-tab>
  <mat-tab label="System User">
    <app-sysuser></app-sysuser>
      </mat-tab>

</mat-tab-group>
