<div class="heading">
  <span>Header 1</span>
  <span class="mat-display-4">Display 4</span>
</div>
<div class="heading">
  <span>Header 2</span>
  <span class="mat-display-3">Display 3</span>
</div>
<div class="heading">
  <span>Header 3</span>
  <span class="mat-display-2">Display 2</span>
</div>
<div class="heading">
  <span>Header 4</span>
  <span class="mat-display-2">Display 1</span>
</div>
<div class="heading">
  <span>Headline</span>
  <span class="mat-headline">Headline</span>
</div>
<div class="heading">
  <span>Title</span>
  <span class="mat-title">Title</span>
</div>
<div class="heading">
  <span>Subheading 1</span>
  <span class="mat-subheading-1">Subheading 1</span>
</div>
<div class="heading">
  <span>Subheading 2</span>
  <span class="mat-subheading-2">Subheading 2</span>
</div>
<div class="heading">
  <span>Body 1</span>
  <span class="mat-body-1">Body 1</span>
</div>
<div class="heading">
  <span>Body 2</span>
  <span class="mat-body-2">Body 2</span>
</div>
<div class="heading">
  <span>Caption</span>
  <span class="mat-caption">Caption</span>
</div>