<mat-toolbar class="toolbar d-flex flex-row">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <addapptable-colapse-button-mobile></addapptable-colapse-button-mobile>
    <div class="toolbar-quick-access d-none d-md-flex">
      <button mat-icon-button routerLink="/admin/dashboard">
        <mat-icon matSuffix>dashboard</mat-icon>
      </button>
      <button mat-icon-button routerLink="/admin/calendar">
        <mat-icon matSuffix>calendar_today</mat-icon>
      </button>
    </div>
    <div class="toolbar-actions align-items-center">
      <app-search></app-search>
      <app-profile></app-profile>
      <app-translate></app-translate>
    </div>
  </div>
</mat-toolbar>