<!-- <mat-video title="My Tutorial Title" [autoplay]="true" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="spin" >

  <source src="./../../../../assets/videos/meter1.mp4">
  <track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">

</mat-video> -->

<!-- <mat-video class="videoapp" src = "./../../../../assets/videos/meter1.mp4"></mat-video> -->
<!-- <div >
<mat-video  src = "./../../../../assets/videos/meter1.mp4"
></mat-video>

</div> -->
<!-- <div class="content video" style="width:1600px;height:auto !important;">
  <mat-video [src]="./../../../../assets/videos/meter1.mp4"

                [preload]="preload"
                [fullscreen]="fullscreen"
                [download]="download"
                [color]="color"
                [spinner]="spinner"
                [poster]="poster"

</div> -->




<div class="row">

  <div class="col-12">
    <addapptable-card>
      <addapptable-card-header>
        <addapptable-card-header-oval>
          <addapptable-card-title>
            <mat-icon matSuffix>equalizer</mat-icon>
            <span>Selection Window</span>
          </addapptable-card-title>
        </addapptable-card-header-oval>
      </addapptable-card-header>
      <addapptable-card-body>
        <div>

          <mat-form-field>
            <mat-label>Select Location</mat-label>
            <mat-select>
              <mat-option *ngFor="let loc of Locations" [value]="loc.places">
                {{loc.places}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Select Plant </mat-label>
            <mat-select>
              <mat-option *ngFor="let plt of Plants" [value]="plt.plant">
                {{plt.plant}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Select Process</mat-label>
            <mat-select>
              <mat-option *ngFor="let Process of Process" [value]="Process.Process">
                {{Process.Process}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Select Meter</mat-label>
            <mat-select>
              <mat-option *ngFor="let Process of Meter" [value]="Process.Meter">
                {{Process.Meter}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="button-row">

            <button mat-raised-button color="primary" type="submit" >
            Submit</button></div>
        </div>
      </addapptable-card-body>
    </addapptable-card>
  </div>
</div>
<!--
<div class="row">

  <div class="col-6">

    <addapptable-card>
      <addapptable-card-header>
        <addapptable-card-header-oval>
          <addapptable-card-title>
            <mat-icon matSuffix>equalizer</mat-icon>
            <span>Select Parameters</span>
          </addapptable-card-title>
        </addapptable-card-header-oval>
      </addapptable-card-header>
      <addapptable-card-body>
        <div cdkDropListGroup class="center">
          <div class="example-container">
            <h2>To do</h2>

            <div
              cdkDropList
              [cdkDropListData]="todo"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
            </div>
          </div>
        </div>
      </addapptable-card-body>
    </addapptable-card>
  </div>

    <div class="col-6">

      <addapptable-card>
        <addapptable-card-header>
          <addapptable-card-header-oval>
            <addapptable-card-title>
              <mat-icon matSuffix>equalizer</mat-icon>
              <span>Drop Parameters</span>
            </addapptable-card-title>
          </addapptable-card-header-oval>
        </addapptable-card-header>
        <addapptable-card-body>
          <div cdkDropListGroup class="center">

            <div class="example-container">
              <h2>Done</h2>

              <div
                cdkDropList
                [cdkDropListData]="done"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
              </div>
            </div>
          </div>
        </addapptable-card-body>
      </addapptable-card>
    </div>

</div> -->

<addapptable-card>
  <addapptable-card-header>

    <addapptable-card-header-oval>
      <addapptable-card-title>
        <mat-icon matSuffix>equalizer</mat-icon>
        <span>Drop Parameters</span>

      </addapptable-card-title>

    </addapptable-card-header-oval>
    <addapptable-card-header-subtitle>
      <div class="button-row">

        <button mat-raised-button color="primary" type="submit" >
        Submit</button></div>
    </addapptable-card-header-subtitle>
  </addapptable-card-header>

  <addapptable-card-body>

    <div class="row">
      <div class="col-12">
        <mat-grid-list rows="2" cols="2" rowHeight="500px">
          <mat-grid-tile>
            <div class="controles-container">
    <div class="example-container">
      <h2>Parameters</h2>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">
    <div class="example-container">
      <h2>Check List</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
</mat-grid-tile>

    </mat-grid-list>

  </div>

</div>
  </addapptable-card-body>
</addapptable-card>
