@import "~normalize-scss/sass/normalize/_import-now";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~@addapptables/core/addapptables-grid.theme';
@import '~prismjs/themes/prism.css';
@import '~@angular/material/theming';
@import '~angular-mgl-timeline/theme';
@import './styles/_variables';
@import './styles/_breakpoints';
@import './styles/typography';
@import './styles/_general';
@import './styles/_loader';
@import './styles/form';
@import './styles/table';
@import './styles/calendar';
@import './styles/print';
@import '~@addapptables/menu/addapptables-menu.theme';
@import '~@addapptables/alert/addapptables-alert.theme';
@import '~@addapptables/card/addapptables-card.theme';
@import '~@addapptables/notifier/addapptables-notifier.theme';
@import './app/admin/ecommerce/components/invoice/invoice.theme';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@mondal/org-chart/_theming.scss";
@import '~ngx-org-chart/_theming.scss';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
form.normal-form{
  margin: 10px;
}
.controles-container{
  width: 100%;
  padding: 5%;
}
.mat-form-field{
  margin: 0px 10px;
}
// .table {
//   width: 100%;
// }
// div.container{
//   margin: 0px 40px;
// }
// .fill-remaining-space{
// flex: 1 1 auto;
// }
.button-row button{
margin: 5px;
}

.th.mat-sort-header-sorted {
  color: black;
}

@include mat-core();
$addapptable-app-primary: mat-palette($mat-teal, 800);
$addapptable-app-accent:  mat-palette($mat-pink, 800, A100, 100);
$addapptable-app-warn: mat-palette($mat-red);
$addapptable-app-theme: mat-light-theme($addapptable-app-primary, $addapptable-app-accent, $addapptable-app-warn);
$typography: mat-typography-config(
  $font-family: '"Karla", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
body {
  background-color: map-get($addapptable-theme-variables, gray-lighter);
  color: map-get($addapptable-theme-variables, gray);
  font-family: mat-font-family($typography);
  flex: 1 0 auto;
  display: flex;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@include addapptable-invoice();
body.theme-default {
    @include angular-material-theme($addapptable-app-theme);
    @include typography($addapptable-theme-variables, $typography, $addapptable-app-theme);
    @include general($addapptable-theme-variables);
    @include loader($addapptable-app-theme);
    @include table($addapptable-app-theme);
    @include calendar($addapptable-app-theme, $addapptable-theme-variables);
    @include addapptable-menu($addapptable-app-theme, $addapptable-theme-variables);
    @include addapptable-alert($addapptable-theme-variables);
    @include addapptable-card($addapptable-app-theme, $addapptable-theme-variables);
    @include mgl-timeline-theme($addapptable-app-theme);
    @include addapptable-notifier($addapptable-app-theme, $addapptable-theme-variables);
}

$addapptable-app-primary: mat-palette($mat-gray, 700);
$addapptable-app-accent:  mat-palette($mat-yellow, 700, A100, 100);
$addapptable-app-warn: mat-palette($mat-red);
$addapptable-app-theme: mat-light-theme($addapptable-app-primary, $addapptable-app-accent, $addapptable-app-warn);
body.theme-gray {
    @include angular-material-theme($addapptable-app-theme);
    @include typography($addapptable-theme-variables, $typography, $addapptable-app-theme);
    @include general($addapptable-theme-variables);
    @include loader($addapptable-app-theme);
    @include table($addapptable-app-theme);
    @include calendar($addapptable-app-theme, $addapptable-theme-variables);
    @include addapptable-menu($addapptable-app-theme, $addapptable-theme-variables);
    @include addapptable-alert($addapptable-theme-variables);
    @include addapptable-card($addapptable-app-theme, map-merge($addapptable-theme-variables, (text: rgba(0, 0, 0, 0.87))));
    @include mgl-timeline-theme($addapptable-app-theme);
    @include addapptable-notifier($addapptable-app-theme, $addapptable-theme-variables);
}

$addapptable-app-primary: mat-palette($mat-blue, 700);
$addapptable-app-accent:  mat-palette($mat-grey, 700, A100, 100);
$addapptable-app-warn: mat-palette($mat-red);
$addapptable-app-theme: mat-light-theme($addapptable-app-primary, $addapptable-app-accent, $addapptable-app-warn);
body.theme-blue {
    @include angular-material-theme($addapptable-app-theme);
    @include typography($addapptable-theme-variables, $typography, $addapptable-app-theme);
    @include general($addapptable-theme-variables);
    @include loader($addapptable-app-theme);
    @include table($addapptable-app-theme);
    @include calendar($addapptable-app-theme, $addapptable-theme-variables);
    @include addapptable-menu($addapptable-app-theme, $addapptable-theme-variables);
    @include addapptable-alert($addapptable-theme-variables);
    @include addapptable-card($addapptable-app-theme, $addapptable-theme-variables);
    @include mgl-timeline-theme($addapptable-app-theme);
    @include addapptable-notifier($addapptable-app-theme, $addapptable-theme-variables);
}

$addapptable-app-primary: mat-palette($mat-pink, 700);
$addapptable-app-accent:  mat-palette($mat-indigo, 400, A100, 100);
$addapptable-app-warn: mat-palette($mat-red);
$addapptable-app-theme: mat-light-theme($addapptable-app-primary, $addapptable-app-accent, $addapptable-app-warn);
body.theme-pink {
    @include angular-material-theme($addapptable-app-theme);
    @include typography($addapptable-theme-variables, $typography, $addapptable-app-theme);
    @include general($addapptable-theme-variables);
    @include loader($addapptable-app-theme);
    @include table($addapptable-app-theme);
    @include calendar($addapptable-app-theme, $addapptable-theme-variables);
    @include addapptable-menu($addapptable-app-theme, $addapptable-theme-variables);
    @include addapptable-alert($addapptable-theme-variables);
    @include addapptable-card($addapptable-app-theme, $addapptable-theme-variables);
    @include mgl-timeline-theme($addapptable-app-theme);
    @include addapptable-notifier($addapptable-app-theme, $addapptable-theme-variables);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
