<div class="row">
  <div class="col-12">
    <addapptable-card>
      <addapptable-card-header class="justify-content-start">
        <addapptable-card-header-oval>
          <addapptable-card-title>
            <mat-icon matSuffix>format_size</mat-icon>
            <span>{{'typography.title' | translate}}</span>
          </addapptable-card-title>
        </addapptable-card-header-oval>
        <addapptable-card-header-mark>
          <span>{{'typography.material' | translate}}</span>
        </addapptable-card-header-mark>
      </addapptable-card-header>
      <addapptable-card-body>
        <app-heading></app-heading>
      </addapptable-card-body>
    </addapptable-card>
  </div>
</div>